body {
    margin: 20px;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: lightseagreen;
    color: white;
  }
  
  h1 {
    text-align: center;
    color: darkslategrey;
  }
  
/* form styles */

#addTodoForm {
  margin-bottom: 25px;
}

#addTodoForm label{
  margin-right: 10px;

}

/* estilo de las tablas */

#todoTable{
  width: 100%;
  border-collapse: collapse;

}

#todoTable th, #todoTable td{
  padding: 5px 10px;
  border: 1px solid #ccc;
}