.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(casa-kame-de-dragon-ball_3840x2160_xtrafondos.com.jpg);
  background-size: cover;
  }
  
  .boton {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
  }
  
  .boton:hover {
    background-color: lightblue;
  }
  
  .boton:active {
    background-color: goldenrod;
  }
  