body {
    background-image:url(./background.webp); 
    opacity: 1;
    background-size: contain;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}


li{
    background-color: rgba(177, 255, 182, 0.6);
  padding: 10px;
  display: block;

}

h1{
    background-color: rgba(105, 197, 103, 0.485);
    display: inline-block;
}